body {


    font-family: sans-serif;
    color: #777777;
    line-height: 26px;



    color: #fff;
    background-color:#000;
}

p {
 font-weight: bold;


}




.green-color {


color: #00ff00;


}




